# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MACOS cache
**/.DS_STORE

# moss
moss_visualization/moss.pl

# Jupyter Notebook
**/.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
